*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(120deg, rgb(25, 89, 119), rgb(246, 239, 226)); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    border: 2px solid aqua;
    border-radius: 15px;
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: rgba(219, 209, 209, 0.8);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
label{
    display: -moz-stack;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"], input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #651b1b;
    border-radius: 15px;
}
input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;



    cursor: pointer;
}input[type="submit"]:hover{
    background-color: rgb(0, 153, 153
);}
p{
    text-align: center;
    margin-top: 15px;
}
a{
    color: rgb(0, 102, 102);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(244, 244, 244, 0.8);
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: rgb(0, 153, 153);
    color: white;
}
nav ul li:last-child{
    float: left;
}
nav{
    margin-bottom: 20px;
}
.logo{
    text-align: center;
    padding-top: 20px;
    text-wrap-style: balance;
    text-shadow: 4cqb;
    text-decoration-color: rgb(164, 195, 185);
    border: 2px;
    border-style:double;
    border-color: aqua;
    border-radius: 20px;;
    padding: 10px;
    margin: 20px;
    background-color: rgba(219, 209, 209, 0.8);
}